body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

.categories {
  margin: 1rem;
}

.categoryList {
  display: inline-flex;
  max-width: 95vw;
  overflow: scroll;
}

.detailCard {
  margin-top: 2rem;
  width: 90vw;
  margin: 2rem auto;
  border-radius: 6px !important;
  overflow: unset !important;
}

.detailImage {
  width: 8rem;
  height: 8rem;
  border-radius: 3px;
  float: left;
  margin: -0.6rem;
}

.detailAuthor {
  color: #a9a9a9 !important;
}

.detailName, .detailAuthor {
  font-weight: 100 !important;
  text-align: right;
  padding: 0.2rem 1rem 0.4rem 0rem;
  /* min-height: 2rem; */
}

.detailInstall {
  float: right;
  margin-right: 1rem !important;
}

.detailDescription {
  margin-top: 2rem !important;
  text-align: justify;
  padding: 1rem;
}

.cardFooter {
  border-top: 2px solid #eee;
  padding: 0.2rem 0;
  margin: auto;
  width: 90%;
}


@media (min-width: 750px) {
  .detailCard {
    margin: 2rem;
    width: 30vw;
  }
  .detailDescription {
    margin-top: 3rem !important;
  }
}
